@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
    padding: 2rem;
    font-family: 'PT Serif', serif;
    background-color: #ffa07a;
}

h1 {
    margin-bottom: 2rem;
    text-align: center;
    color: #d35400;
}

.button {
    padding: 0.3rem 0.5rem;
    border-radius: 0.6rem;
    cursor: pointer;
    display: block;
    background-color: #d35400;
    border-color: #d35400;
    color: #fdad8f;
}

#add-book-btn {
    margin: 1rem auto;
}

form {
    background-color: #fdad8f;
    color: #d35400;
    display: none;
    margin: auto;
    padding: 1.2rem 5rem;
    width: 50vh;
    border-radius: 1rem;
}

.form-row li {
    margin-bottom: 1rem;
}

.form-row {
    list-style-type: none;
}

#submit-btn {
    margin: 1rem auto 0 auto;
}

.reading-status {
    display: flex;
    flex-direction: row;
}

.italics {
    font-style: italic;
}

#read:hover {
    cursor: pointer;
}

#library {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.4rem;
}

.book-card {
    background-color: #ffbf9b;
    color: #d35400;
    width: 33vh;
    margin: 1rem 1rem;
    padding: 0.6rem 0.3rem;
    text-align: center;
    border-radius: 0.8rem;
    position: relative;
}

.remove-btn {
    background-color: #ffa07a;
    border-color: #ffbf9b;
    color: #d35400;
    border-radius: 40%;
    padding: 0.2rem 0.3rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

.book-title {
    font-size: 1.8rem;
}

input:invalid {
    background-color: #ffa07a;
    border-color: #ffa07a;
}

input:valid {
    background-color: #ffbf9b;
    border-color: #ffbf9b;
}

input[type='checkbox'] {
    accent-color: #d35400;
}

div label:before {
    background-color: #50CDBE;
}